

.wrapper{
    background-color: rgb(0, 0, 0);
    color: white;
    /* margin: 10px 400px 50px 400px ; */
    margin-left: 23%;
    padding: 5px 40px;
    width: 50%;
    height: 100%;
    
    /* border: 2px solid black; */
}
#header{
    /* border: 2px solid rgb(247, 242, 242); */
    margin: 0px;
    padding: 5px 0px;
    align-items: center;
    height: 80px;
    display: flex;
}

.head-Div{
    background-color: rgba(66, 66, 66, 0.377);
    margin-top: 3px;
    /* height: 100px; */
    
}
.hDiv1{
    flex-grow: 2;
    width: 5%;
    text-align: center;
}
.hDiv2{
    flex-grow: 3;
    width: 50%;
    text-align: center;
    margin-left: 5px;
}

.menu{
    /* border: 2px solid black; */
    padding: 0px 0px;
    width: 10%;
    display: flex;
    height: 40px;
}
.menuDivs{
    /* background-color: rgba(165, 42, 42, 0.377); */
    text-transform: uppercase;
    margin: 1px;
    padding: 0px 10px;
}

#about{
    /* border: 1px solid white; */
    height: 120px;
    display: flex;
    background-color: turquoise;
}
/* .about-first{
    height: 10px;
    float: left;
} */
.about-first img{
    width: 145px;
    height: 120px;
    float: left;
}
.about-second{
    width: 800px;
    height: 0px;
    float: left;
}
.about-2nd-heading{
    margin: 10px 10px;
}
.about-2nd-para{
    margin: 10px 10px;
}

.bigDiv{
    /* border: 2px solid black; */
    
    padding: 13px 0px;
    display: flex;
    width: 100%;
    height: 400px;
}

#sidebar{
    /* border: 2px solid black; */
    background-color: rgb(53, 202, 240);
    margin: 0px;
    padding: 5px 30px;
    
    flex-grow: 2;
}
.sidebarDiv{
    /* background-color: rgba(165, 42, 42, 0.377); */
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 10px;
}

#content{
    /* border: 2px solid black; */
    background-color:#BBC4C1;
    color: rgb(29, 109, 129);
    margin: 0px;
    padding: 5px 10px;
    flex-grow: 3;
    width: 70%;
    overflow: hidden;
}
.contentDiv{
    /* background-color: rgba(165, 42, 42, 0.377); */
    margin: 20px;
    text-align: left;
    overflow: hidden;
}

/* #footer{
    /* border: 2px solid black; */
    /* background-color: rgb(73, 110, 110);
    padding: 5px 10px;
} */ 

/* @media screen and(min-width:1000px) {
    .contentDiv{
        flex-direction: column;
    }
} */

